label {
  display: block;
}

label > span {
  display: block;
}

.light {
  background-color: #FFF;
  color: #000;
  padding: 1rem;
}

.dark {
  background-color: #17171A;
  color: #F1F1F1;
  padding: 1rem;
}

.neutral {
  background-color: transparent;
}

textarea {
  height: 33vh;
  width: 100%;
}